body {
  font-family: Arial;
}

game-system {
  display: inline-block;
  margin-top: 30px;
}

canvas {
  border: 1px solid black;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}